<div class="card w-75" id="frontpage-card">
  <div class="card-body">
    <form class="form-signin clearfix">
      <h1 class="h3 mb-3 font-weight-normal">My GitHub Résumé</h1>
      <hr><br><br>
          <div class="input-group">
              <input type="text" id="inputEmail" class="form-control" placeholder="Enter your GithHb username and click on generate " required autofocus="">
              <button class="btn btn-primary pull-right" type="submit" routerLink="/resume">Generate</button>
          </div>
          <br><br><hr>
    </form>
  </div>
</div>


