#card-resume {
    margin: 5% auto;
    min-height: 800px;
    height: auto;
}


button.btn.btn-primary.pull-right {
    background-color: #FF525E;
}

.card.w-75 {
    background-color: #F5F5F5;
}

.card {
    flex-direction: initial;
}
