<div class="card w-75" id="card-resume">
    <div class="card-body">
      <form class="form-signin clearfix">
        <h1 class="h3 mb-3 font-weight-normal"> place for user's name</h1>
        <h2> advanced github user?? wtf find out what is this </h2>
        <br><hr><br>
        <div class="card w-100">
                <p>dd</p>
        </div>
        <div class="card w-100">
            <div class="card w-25">
                <p>card 25</p>
            </div>
            <div class="card w-75">
                <p>card 75</p>
            </div>
        </div>
        <div class="card w-100">
            <p>dd</p>
        </div>
        <div class="card w-100">
            <p>dd</p>
        </div>
        <div class="card w-100">
            <p>dd</p>
        </div>
      </form>
    </div>
  </div>
  
  
  